<h1>Task editor:</h1>

<%= form_for @task do |f| %>
  <%= f.label :title, "What's the new title of your task?" %>
  <%= f.text_field :title %>

  <%= f.label :details, "Change some details?" %>
  <%= f.text_field :details %>

  <%= submit_tag %>
<% end %>